<html>

<h1>LOGIN</h1>

<form onsubmit="return" style="margin: 20px;">
    <div style="display: inline-flex;">
        <div class="form-group">
            <label for="name">Ingrese su nombre</label>
            <input style="width: 40vh" name="name" type="text" placeholder="Nombre" />
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Enviar" />
</form>
</html>